<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>WElcome</title>
</head>
<body>
<p>Welcome to Thymeleaf 
<span th:text="${name}"></span></p>
<!--
Internacionalización:  
<span th:text="#{home.welcome}">Welcome</span>
 -->
<p><span th:utext="${uname}">Texto <b>no</b> escapado</span></p>

<h3>Formateo de números</h3>
<dl>
	<dt>Precio</dt>
	<dd th:text="${#numbers.formatDecimal(price, 1, 2)}">350</dd>
	<dd th:text="${'$' + #numbers.formatDecimal(price, 1, 2)}">$350</dd>
	<dd th:text="${'' + #numbers.formatDecimal(price, 1, 2) + '€'}">$350</dd>
</dl>
<h3>Formateo de fechas</h3>
<dl>
	<dt>Fechas</dt>
	<dd th:text="${#dates.format(date, 'dd-MMM-yyyy')}">28-Jun-2013</dd>
 </dl>  
 
<h3>Bucles</h3>
<table border="1">
    <thead>
        <tr>
        	<th></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody th:remove="all-but-first">
        <tr th:each="name : ${names}">
        	<td th:text="${nameStat.count}">1</td>
            <td th:text="${name}">Un nombre</td>
        </tr>
        <tr>
        	<td>2</td>
            <td>David</td>
        </tr>
    </tbody>
</table> 

<h3>Condicionales</h3>
<span th:if="${price > 100}" class="offer">Special offer en producto1!</span>
<span th:if="${price2 > 100}" class="offer">Special offer en producto2!</span>

<h3>Condicionales implícitos</h3>
<div th:text="${person_gendered?.gender}">Genero, si existe</div>
<div th:text="${person_ungendered?.gender}">Genero, si existe, pero genera el div vacío siempre</div>

<h3>Spring Expressions</h3>
<p class="answer" th:text="${4 * -6 * -2 % 7}">123</p> 
<p class="answer" th:text="${new java.util.Date().getTime()}">22-Jun-2013</p>
<p class="answer" th:text="${T(java.lang.Math).random()}">123456</p>

<h3>Links</h3>
<a href="#" th:href="@{/mvc2/param(name=David)}">Link</a>


<h3>Forms</h3>
<form action="save.html" th:action="@{/mvc2/save}" th:object="${person}" method="post">
	<div>
	    <label for="firstName">First name:</label>
	    <input type="text" th:field="*{name}" value="John" />
    </div>
    <div>
	    <label for="lastName">Last name:</label>
	    <input type="text" th:field="*{surName}" value="Wayne" />
	</div>
    <div>
	    <label for="other">Other:</label>
	    <input type="text" name="other" value="Other" />
    </div> 
    <div>
	    <label for="other">Other2:</label>
	    <input type="text" name="other2" value="Other2" />
    </div>     
    <input type="submit" />
</form>

</body>
</html>